data/
!data/README.md
venv/
*pycache*
.idea
plots/result_images
plots/result_images2
plots/result_images-128resolution
plots/result_images_3000epochs
models/
filtered_data
raw_data
scripts/image_size_statistics.py
scripts/plot_image.py
scripts/data_loading.py
